.costumer_account_link{
  color: #000;
  outline: 0 none;
}

.costumer_account_link:focus,
.costumer_account_link:hover, 
.costumer_account_link:active{
  color: #fa98af;
  text-decoration: none;
  outline: 0 none;
}
