main {
  display: flex;
  width: auto;
  height: 579px;
  background-color: #FA98AF;
}

.header-logo {
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  height: 505px;
  width: 600px;
  background-color: #FA98AF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  margin-top: 17px;
}

.box-remember {
  padding: 90px 100px;
  background-color: #FAFCF9;
  margin: auto;
  width: 500px;
  justify-content: center;
  align-items: center;
}

.buttom {
  background-color: #FA98AF; /* Green */
  border-radius: 12px;
  border: none;
  padding: 2px 20px;
  text-align: center;
  font-size: 14px;
  width: 110px;
  height: 40px;
  margin-top: 10px;
}

.register-bg {
  width: 100vw;
  height: 100vh;
}