.layout-main {
  display: table;
  width: 100%;
  height: 100vh;
  background-color: #fa98af;
}

@media (max-width: 768px) {
  .layout-main {
    height: auto;
  }
}

.header-logo {
  display: flex;
  justify-content: center;
}

.layout-container {
  position: relative;
  height: 505px;
  width: 100%;
  background-color: color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-form {
  margin-top: 17px;
}

.layout-box {
  padding: 50px 50px;
  background-color: #ffff;
  margin: auto;
  width: 500px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.layout-buttom {
  background-color: #fa98af; /* Green */
  border-radius: 12px;
  border: none;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 100px;
  height: 40px;
  text-align: center;
}

.register-bg {
  width: 100vw;
  height: 100vh;
}
