.card-text-product {
  font-size: 16px;
}
.card-title-product {
  margin-top: -10px;
  font-size: 35px;
}
.card-text-info {
  margin-top: 20px;
}
.icons {
  margin-top: 4px;
  margin-right: 20px;
}
.product-value {
  font-size: 25px;
  color: #fa98af;
  position: absolute;
  margin-top: -35px;
  margin-left: 35px;
}

.product-buttom {
  background-color: #fa98af; /* Green */
  border-radius: 12px;
  border: none;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 168px;
  height: 40px;
  text-align: center;
}

.quantity {
  height: 40px;
  border: 1px solid #fa98af;
}

.product-amount,
.product-amount:focus,
.product-amount:hover,
.product-amount:active {
  border: 1px solid #fa98af;
  outline: 0 none;
}

.product-amount:focus-visible, .product-amount:hover {
  box-shadow: 5px 5px 10px #0123;
}

.product-amount {
  -moz-appearance: textfield;
  height: 100%;
  width: 70px;
}

.product-amount::-webkit-inner-spin-button,
.product-amount::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.plus_minus__buttons {
  position: absolute;
  left: 99px;
  margin: auto;
  width: 18px;

  height: 40px;

  box-sizing: content-box;
  border-left: 1px solid #fa98af;
  cursor: default;
}

.plus_minus__buttons span {
  margin: auto;
  height: 20px;
  cursor: default;
  line-height: 20px;
}

.plus-border-button {
  height: 19px;
  border-bottom: 1px solid #fa98af;
}

.plus-border-button:active, .minus-border-button:active {
  background-color: #fa98af;
}
