.filter-admin {
  padding: 25px;

  border-radius: 16px;
  border: 1px solid #90affc;
}

.main-content-admin {
  margin-top: 100px;
}

.buttom{
  background-color: #FA98AF; /* Green */
  border-radius: 12px;
  border: none;
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 100px;
  height: 30px;
  text-align:center
}
