.filter-admin {
  padding: 25px;

  border-radius: 16px;
  border: 1px solid #90affc;
}

.main-content-admin {
  margin-top: 100px;
}

.modal .modal-dialog {
  position: absolute;
  right: 0;
  height: 100%;
  margin: 0;
  max-width: 800px;
}

.modal.fade .modal-dialog {
  transform: none !important;
}

.modal.fade.show .modal-dialog .modal-content {
  transition: 1s ease;
  transform: none;
}

.modal.fade .modal-dialog .modal-content {
  transition: 1s ease;
  transform: translateX(800px);
}

.modal-content {
  height: 100%;
}

.buttom {
  background-color: #fa98af; /* Green */
  border-radius: 12px;
  border: none;
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 100px;
  height: 40px;
  text-align: center;
}
