.layout-main{
  display: flex;
  width: auto;
  height: 627px;
  background-color: #FA98AF;
}

.header-logo {
  display: flex;
  justify-content: center;
}

.layout-container {
  position: relative;
  height: 505px;
  width: 600px;
  background-color: color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-form {
  margin-top: 17px;
}

.layout-box {
  padding: 50px 100px;
  background-color: #ffff;
  margin: auto;
  width: 500px;
  justify-content: center;
  align-items: center;
}

.layout-buttom{
  background-color: #FA98AF; /* Green */
  border-radius: 12px;
  border: none;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 100px;
  height: 40px;
  text-align:center
}

.register-bg {
  width: 100vw;
  height: 100vh;
}